ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

        /* Stijl voor de menubalk */
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: blue; /* Blauwe achtergrondkleur van de menubalk */
            overflow: hidden;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white; /* Tekstkleur van de menu-items */
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #0066cc; /* Donkerblauwe achtergrondkleur bij hover */
        }

/* change the link colour to #111 (black) on hover */
li a:hover{
    background-color: cyan;
}